/* .custom-skew::before,
.custom-skew::after{
    content: '';
    position: absolute;
    height: 170px;
    left: 0;
    right: 0;
    bottom: -80px;
    background: #fff;
    transform: skewY(-6deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
} */